// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


#translationsTable {
  border: 1px solid $secondary;

  th {
    position: relative;
    cursor: pointer;
    line-height: 1;
    border-bottom: 1px solid $secondary;
    border-left: 1px solid $secondary;

    &::after {
      content: "x";
      position: absolute;
      top: 2px;
      right: 4px;
      font-size: 12px;
    }
  }

  td {
    border-bottom: 1px solid $secondary;
    border-left: 1px solid $secondary;
  }
}